.bookmark {
  .bookmark__title {
    a {
      color: $primary-color;

      &:visited {
        color: $primary-dark;
      }
    }
    margin-bottom: 0.25em;
  }

  .bookmark__tags {
    margin-top: 0.25em;
  }

  .bookmark__tag {
    color: darken(#f26623, 15%);
    font-size: 0.9em;
    text-decoration: none;
    &:visited {
      color: darken(darken(#f26623, 15%), 15%);
    }
    &:hover {
      text-decoration: underline;
    }
    margin-right: 0.5em;
  }

  .bookmark__description {
    font-size: 0.95em;
    blockquote {
      margin-left: 1.5em;
      color: darken($primary-dark, 15%);
    }
  }

  margin-bottom: 2em;
}