.bookmark {
  .bookmark__title {
    a {
      color: $primary-color;

      &:visited {
        color: $primary-dark;
      }
    }
    margin-bottom: 0.35em;
  }

  .bookmark__metadata {
    margin-top: 0.35em;
    font-size: 0.8em;
    color: $accent-grey;
    a {
      text-decoration: none;
      color: $accent-grey;
      &:hover {
        text-decoration: underline;
      }
      margin-right: 0.5em;
    }

    .bookmark__tag {
      color: darken(#f26623, 15%);
      &:visited {
        color: darken(darken(#f26623, 15%), 15%);
      }
    }
  }

  .bookmark__description {
    font-size: 0.95em;
    blockquote {
      margin-left: 1.5em;
      color: darken($primary-dark, 15%);
    }

    p:last-child {
      margin-bottom: 0.35em;
    }
  }

  margin-bottom: 2em;
}