<div class="bookmark{% if b.toread %} bookmark__unread{% endif %}{% if b.starred %} bookmark__starred{% endif %}">

  <p class="bookmark__title">
    <a href="{{ b.url }}">{{ b.title }}</a>
  </p>

  <div class="bookmark__description">
  {{ b.description|markdown|safe }}
  </div>

  <p class="bookmark__metadata">
    saved <a href="https://pinboard.in/u:alexwlchan/b:{{ b.slug }}">{{ b.time|slang_time }}</a>
    {% for tag in b.tags|sort %}
      <a href="{{ url_for('tag_page', tag=tag) }}" class="bookmark__tag">{{ tag|safe }}</a>
    {% endfor %}
  </p>
</div>
