<aside>
  <div id="aside__inner">
    <h1 id="brand"><a href="/">pincushion</a></h1>
    <form action="/">
      <input type="text" value="{{ query }}" placeholder="Search" name="query" id="form__query" onChange="checkSubmit(this.value);" size="30">
      <input type="submit" value="Submit" disabled="disabled" id="form__submit">
    </form>
  </div>
</aside>

<script>
  function checkSubmit(value) {
    if (value == "") {
      document.getElementById("form__submit").disabled = true;
    } else {
      document.getElementById("form__submit").disabled = false;
    }
  }

  checkSubmit(document.getElementById("form__query"))
</script>
