{% extends "base.html" %}

{% block content %}
<div class="content">
  {% if results.total_size == 0 %}
  <h3>{{ notitle|safe }}.</h3>
  {% else %}
  {% if title %}<h3>{{ title|safe }}.</h3>{% endif %}

  <div class="row">
    <div class="content__bookmarks">
      {% include "_pagination.html" %}
      {% for b in results.bookmarks %}
        {% include "_bookmark.html" %}
      {% endfor %}
      {% endif %}
      {% include "_pagination.html" %}
    </div>
    {% if results.total_size > 1 %}
    <div class="tag_cloud">
      {% include "_tag_cloud.html" %}
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
